:host {
  display: block;
  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }

  .title{
    width: 70%;
  }

  .description {
    width: 70%;
  }

  .brand {
    width: 80%;
  }
}
